:root {
  --main-background: #1b1919;
  --white: #FFFFFF;
  --grey: #545050;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: var(--white);
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  background-color: var(--main-background);
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.content {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 276px auto auto;
  max-width: 1140px;
  width: 100%;
  min-height: 534px;
}

.result {
  display: grid;
  grid-template-rows: auto 56px;
  gap: 13px;
  flex-wrap: wrap;
  max-width: 711px;
  min-height: 456px;
}

.result__video-container {
  position: relative;
  justify-self: center;
  align-self: flex-end;
  max-width: 711px;
  width: 100%;
  min-height: 386px;
}

.result__video {
  max-width: 711px;
  width: 100%;
  height: 386px;
  object-fit: cover;
}

.search-form {
  display: grid;
  grid-template-columns: 225px 212px 194px;
  gap: 40px;
  height: 54px;
  line-height: 21px;
  text-align: left;
}

.search-form__fieldset {
  width: fit-content;
  border: none;
}

.search-form__fieldset-title {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.fieldset-city {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.fieldset-time {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-form__label-text {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
  cursor: pointer;
}

.search-form-hover:hover {
  text-decoration: underline var(--white);
}

.search-form-hover:focus {
  outline: none;
}

.search-form-hover:focus-within {
  outline: 1px solid var(--white);
  outline-offset: 1px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label .search-form__pseudo-checkbox {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: 1px solid var(--white);
  background-color: transparent;
}

.search-form__label .search-form__pseudo-checkbox::before {
  display: none;
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
}

.search-form__label .search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  display: block;
}

.search-form__textfield {
  min-width: 225px;
  width: 100%;
  text-align: left;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  border-left: 1px;
  border-right: 1px;
  border-color: var(--white);
  appearance: none;
}

.search-form__textfield:active {
  border: 1px solid var(--white);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: 1px solid var(--white);
  outline-offset: 1px;
}

.search-form__submit-button {
  align-self: flex-end;
  max-width: 194px;
  height: 34px;
  border: 1px solid var(--white);
}

.content__details {
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
  width: 100%;
  min-height: 534px;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 70px;
  text-align: left;
  text-transform: uppercase;
}

.content__accent {
  color: var(--grey);
}

.content__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  height: 298px;
  overflow: auto;
}

.content__card-link {
  display: block;
  margin: 2px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid var(--white);
}

.content__card-link_current {
  background-color: var(--grey);
}

.content__video-card {
  display: grid;
  grid-template-columns: 200px auto;
  max-width: 399px;
  width: 100%;
  height: 107px;
  text-decoration: none;
  cursor: pointer;
}

.content__video-card:hover {
  text-decoration: underline var(--white);
}

.content__video-card:active {
  background-color: #545050;
}

.content__video-card:focus {
  outline: none;
}

.content__video-card:focus-visible {
  outline: 1px solid var(--white);
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
}

.content__video-card-description {
  line-height: 16px;
  text-align: left;
}

.content__video-card-thumbnail {
  align-self: center;
  max-width: 194px;
  width: 100%;
  min-height: 103px;
}

.preloader-template {
  position: absolute;
}

.button {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: var(--white);
  background-color: transparent;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline var(--white);
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid var(--white);
  outline-offset: 1px;
}

.more-button {
  box-sizing: border-box;
  margin: 0 2px 2px 2px;
  width: 399px;
  height: 34px;
  border: 1px solid var(--white);
}